<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diesiedler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".cheating.CheatSelectResourceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cheating.CheatCounterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cheating.CheatRevealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThiefActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowInventoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cards.PlayMonopolOrInventionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cards.PlayCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RollDiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trading.BankOrPortChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trading.AnswerToTradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trading.TradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowCostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".beforegame.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".beforegame.SearchPlayersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".beforegame.SelectColorsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".beforegame.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".building.BuildSettlementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".building.BuildRoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".building.BuildCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cards.DevCardInventoryActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>